<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<title>1A2B Game Field</title>
	</head>
	<body>
		<div class="container">
			<h1>1A2B Game Field <small>beatComputer</small></h1>
			<form method="POST" action="/beatComputer">
				<input type="text" name="userNum"> <button class="btn btn-default">Send your 4 non repeated digits number!</button>
			</form>
			<p>{{msg}}</p>
		</div>
	</body>
</html>
