<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheets/style.css">		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>1A2B Game Field</title>
		<script>
			var ans = []
			while(ans.length < 4){
				var randomnumber=Math.ceil(Math.random()*9).toString();
				if(ans.indexOf(randomnumber) < 0 )
					ans[ans.length]=randomnumber;
			}
			console.log(ans.join(""));
			var round = 0;
			var startT;
			function doGuess()
			{
				if(round == 0) startT = new Date();
				round++;
				var guess = $("#guessBox").val().split("");
				$("#guessBox").val("");
				var A=0;
				var B=0;
				for(i=0; i<4; i++)
				{
					var c = guess[i];
					if (c == ans[i]) A++;
					else if (ans.indexOf(c) >= 0) B++;
				}
				$("#resultTB tbody").append($("<tr>")
					.append($("<td>").text(guess.join("")))
					.append($("<td>").text(A + "A" + B + "B")));
				if(A == 4)
				{
					var timeCost = new Date() - startT;
					$("#timeCost").val(timeCost);
					$("#roundCost").val(round);
					$(".modal-body h4").text('Round：'+ round +', Time Cost：'+timeCost+" (millisec)");
					$('#dialog').modal({backdrop:"static"});
				}
			}
		</script>
	</head>
	<body>
		<div class="container text-center">
			<h1><strong><span class="T1">1</span><span class="T2">A</span><span class="T3">2</span><span class="T4">B</span></strong> Game Field</h1>
			<div class="btn-group" role="group" aria-label="btns">
				<a class="btn btn-default btn-lg" href="/">Game Charts</a>
				<a class="btn btn-default btn-lg active" href="/challenge">Take a challenge</a>
				<a class="btn btn-default btn-lg" href="/beatComputer">Try to beat computer</a>
				<a class="btn btn-default btn-lg" href="/userInfo/{{ account }}">See your record</a>
				<a class="btn btn-default btn-lg" href="/logout">Logout</a>
			</div>
		</div>
		<div class="container text-center loginContainer form-inline">
			<p class="lead">{{ msg }}</p>
			for debug, answer is: <span id="debug"></span><br>
			<script>$("#debug").text(ans.join(""));</script>			
			<input type="number" id="guessBox" class="form-control" placeholder="Input your number..."><button type="button" class="btn btn-primary" onClick="doGuess()" style="margin-left:10px;">Guess</button>
			<div class="jumbotron">
				<table id="resultTB" class="table table-bordered">
					<thead>
						<tr><th class="warning text-center">Input</th><th class="warning text-center">Result</th></tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>			
		</div>
		<div class="modal fade" id="dialog">
			<div class="modal-dialog">
				<form id="sendResult" class="modal-content" method="POST" action="/challenge">
					<div class="modal-header">
						<h3 class="modal-title"><strong><span class="glyphicon glyphicon-thumbs-up"></span> You made it!</strong></h3>
					</div>
					<div class="modal-body">
						<h4></h4><br>
						<div class="form-group">
							<label for="message">Say something</label>
							<input type="text" name="message" id="message" class="form-control" placeholder="Enter message...">
						</div>
						<input type="hidden" name="account" value="{{account}}">
						<input type="hidden" name="roundCost" id="roundCost">
						<input type="hidden" name="timeCost" id="timeCost">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Submit your record</button>
					</div>
				</form><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>
