<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>1A2B Game Field</title>
	</head>
	<body>
		<div class="container text-center">
			<h1><strong><span class="T1">1</span><span class="T2">A</span><span class="T3">2</span><span class="T4">B</span></strong> Game Field</h1>			
			<div class="btn-group" role="group" aria-label="btns">
				<a class="btn btn-default btn-lg active" href="/">Game Charts</a>
				<a class="btn btn-default btn-lg" href="/challenge">Take a challenge</a>
				<a class="btn btn-default btn-lg" href="/beatComputer">Try to beat computer</a>
				<a class="btn btn-default btn-lg" href="/userInfo/{{ account }}">See your record</a>
				<a class="btn btn-default btn-lg" href="/logout">Logout</a>
			</div>
		</div>
		<div class="container text-center indexContainer">
			<p class="lead">Welcome, {{ username }}</p>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr class="info">
						<th>Date</th>
						<th>Account</th><th>User Name</th>
						<th><a href="/?orderBy=roundCost">Round Cost
						{% if orderBy == 'roundCost' %}
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						{% endif %}
						</a></th>
						<th><a href="/?orderBy=timeCost">Time Cost 
						{% if orderBy == 'timeCost' %}
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						{% endif %}
						</a></th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
				{% for p in chartsData %}
					<tr>
						<td>{{ p.time }}</td>
						<td>{{ p.account }}</td>
						<td>{{ p.name }}</td>
						<td>{{ p.roundCost }}</td>
						<td>{{ p.timeCost }}</td>
						<td class="text-left">{{ p.message }}</td>						
					</tr>
				{% endfor %}
				</tbody>
			</table>		
			<button class="btn btn-link" data-toggle="modal" data-target="#userList">View User List</button>
		</div>
		<div class="modal fade" id="userList">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">User List</h4>
					</div>
					<div class="modal-body">
						<table class="table text-center">
							<thead><tr><th>Create Date</th><th>Account</th><th>User Name</th></tr></thead>
							<tbody>
								{% for p in UsersData %}
									<tr>
										<td>{{ p.createOn }}</td>
										<td>{{ p.account }}</td>
										<td>{{ p.name }}</td>
									</tr>
								{% endfor %}
							</tbody>
						<table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>

