<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>1A2B Game Field</title>
	</head>
	<body>
		<div class="container text-center loginContainer">
			<h1><strong><span class="T1">1</span><span class="T2">A</span><span class="T3">2</span><span class="T4">B</span></strong> Game Field</h1>
			<p class="lead">{{ msg|safe }}</p>
			<div class="jumbotron">
				<form method="post" class="form-inline">
					<h4>Account</h4> <input name="account" class="text-center form-control" value="{{ account }}">
					<h4>Password</h4> <input class="text-center form-control" name="password" type="password"><br><br>
					<button type="submit" class="btn btn-primary btn-lg">Log in</button><br>
					<a class="btn btn-link" data-toggle="modal" data-target="#createAccount">Create a new account</a>
				</form>
			</div>
		</div>
		<div class="modal fade" id="createAccount">
			<div class="modal-dialog modal-sm">
				<form class="modal-content" method="POST" action="createAccount">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Create New Account</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="inputName">User Name</label>
							<input type="text" name="username" id="inputName" class="form-control" placeholder="Enter User Name...">
						</div>
						<div class="form-group">
							<label for="inputAccount">Account</label>
							<input type="text" name="account" id="inputAccount" class="form-control" placeholder="Enter Account...">
						</div>
						<div class="form-group">
							<label for="inputPW">Password</label>
							<input type="password" name="password" id="inputPW" class="form-control" placeholder="Enter Password...">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Create Account</button>
					</div>
				</form><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>
