<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/stylesheets/style.css">
		<title>1A2B Game Field</title>
	</head>
	<body>
		<div class="container text-center loginContainer">
			<h1><strong><span class="T1">1</span><span class="T2">A</span><span class="T3">2</span><span class="T4">B</span></strong> Game Field</h1>
			<p class="lead">{{ msg|safe }}</p>
			<div class="jumbotron">
				<form method="post" class="form-inline">
					<h4>Account</h4> <input name="account" class="text-center form-control" value="{{ account }}">
					<h4>Password</h4> <input class="text-center form-control" name="password" type="password"><br><br>
					<button type="submit" class="btn btn-primary btn-lg">Log in</button>
				</form>
			</div>
		</div>
	</body>
</html>
